*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds/dreambox_packages.tmp
/feeds/luci.tmp
/feeds/packages.tmp
/feeds/qpe.tmp
/feeds/qpe/.svn
/feeds/dreambox_packages/.svn
/feeds/xwrt/.svn
/feeds/luci/.svn
/feeds/packages/.svn
/.svn
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
*.orig
*.rej
*~
